<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>controller.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>controller.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateControler</servlet-name>
        <servlet-class>controller.ConfirmUpdateControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>controller.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDeleteController</servlet-name>
        <servlet-class>controller.ConfirmDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/AddEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/UpdateEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateControler</servlet-name>
        <url-pattern>/ConfirmUpdateControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/DeleteEmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDeleteController</servlet-name>
        <url-pattern>/ConfirmDeleteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
